:root {
  --color-white:      #fff;
  --color-black:      #000;
  --color-dark-grey:  #10100e;
  --color-yellow:     #ffff00;
  --color-blue:       #6a83fb;
  --color-violet:     #ae72c2;
  --color-red: #f75d83;
  --color-light-green: #33e705;

  --font-size-header: 26px;
  --font-size-subheader: 18px;
  --font-size-main: 16px;
  --border-radius-small: 3px;
  --border-radius-medium: 5px;
  --border-radius-large: 10px;
  --font-family-main: sans-serif;
  --font-bold: 600;
  --text-shadow-yellow:
          0 0 2px var(--color-white),
          0 0 40px var(--color-yellow);
  --text-shadow-blue:
          0 0 2px var(--color-white),
          0 0 40px var(--color-blue);

  --box-shadow-white:
    0 16px 24px 2px rgba(255, 255, 255, 0.02),
    0 6px 30px 5px rgba(255, 255, 255, 0.04),
    0 8px 10px -5px rgba(255, 255, 255, 0.1);
  --box-shadow-black:
          0 16px 24px 2px rgba(0, 0, 0, 0.5),
          0 6px 30px 5px rgba(0, 0, 0, 0.1),
          0 8px 10px -5px rgba(0, 0, 0, 0.2);

  --spacing-medium: 20px;
  --spacing-large: 30px;
  --spacing-small: 10px;
  --spacing-ultrasmall: 5px;

  --margin-list: 7px;

  --width-max: 1200px;

  /* THEMES*/
  --theme-light-header: #dfe2df;
  --theme-dark-header: #ca6c6f;
  --theme-neitral-header: #cccc46;
  --theme-default-header: var(--theme-neitral-header);

  --theme-light-bgimage: linear-gradient(to left top, rgba(9,77,18,1) 8%, rgba(49,43,102,1) 43%, rgba(49,43,102,1) 68%, rgba(8,93,11,1) 98%);
  --theme-dark-bgimage: linear-gradient(to right top, rgba(28,6,6,1) 0%, rgba(53,49,89,1) 45%, rgba(53,49,89,1) 68%, rgba(97,3,3,1) 100%);
  --theme-neitral-bgimage: url(@react_redux_course/static/bg.jpg);
  --theme-default-bgimage: var(--theme-neitral-bgimage);

  --transition: .4s;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--color-dark-grey);
  font-family: var(--font-family-main);
  font-size: var(--font-size-main);
  background-image: var(--theme-default-bgimage);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top left;
  background-attachment: fixed;
}

img{
  display: block;
}

.header_text{
  line-height: 1.7;
  font-size: var(--font-size-header);
  text-shadow: 0 0 2px var(--color-black);
  color: var(--theme-default-header);
  transition: color var(--transition);
}